<h1 class="font-bold">Apple Counter</h1>
<div id="count">
  0 Apples
</div>
<div id="buttons", class="flex gap-5 mt-5">
  <%= button_to 'Add', pages_add_path, class: 'p-2 bg-blue-400 text-sm'%>
  <%= button_to 'Remove', pages_remove_path, class: 'p-2 bg-blue-400 text-sm'%>
  
</div>
<div id="log">

</div>