<div id="<%= dom_id street_fighter %>">
  <p>
    <strong>Quote:</strong>
    <%= street_fighter.quote %>
  </p>

  <p>
    <strong>Character:</strong>
    <%= street_fighter.character %>
  </p>

  <p>
    <strong>Move:</strong>
    <%= street_fighter.move %>
  </p>

</div>
